*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(91, 78, 180);
    padding-bottom: 20px;
}


.pagebtn.current-page{
    background-color: rgb(0, 0, 0);
    color: white;
}






/* header of page */


.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}


/* weather app */
.weather-page{
    display: none;
}

.weather-page.active{
   
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;  
    padding: 20px;
 
}

h1{
    color: white;
}



.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



.innerCards{
    height: 170px;
    width: 200px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    background-color: rgb(221, 211, 211);
    border-radius: 20px;

    padding: 10px;
}

.cards-icon{
    height: 50px;
    width: 50px;
    margin: 10px;



}


#country-icon{
    height: 30px;
    width: 30px;  
}

.pagebutton{
    display: flex;
    
    grid-gap: 400px;
}

.pagebtn{
    /* all: unset; */
    font-size: 17px;
    padding: 15px;
    /* padding-top: 40; */
    margin-top: 15px;
    border-radius: 8px;;
    border: none;
    /* background-color: burlywood; */

    
}


/* location  */
.location-page{
    display: none;
}

.location-page.active{
    display: flex;
    /* display: none; */

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;  
    padding: 20px;
}

#location-icon{
    height: 200px;
    width: 200px; 
     
}

#location-btn{

    font-size: 17px;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
}

.location-para{
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;  
    padding: 25px;
}



/* search bar  */
.search-page{
    display: none;
}

.search-page.active{
    

    display: flex;
    /* display: none;/ */
   
    justify-content: center;
    align-items: center;  
    padding: 25px;
}




.search-btn{
    height: 48px;
    width: 50px; 
    background-color: white;
    border-radius: 8px;
    margin-left: 5px;
}

#search-icon{
    height: 30px;
    width: 30px;  
  
    margin: 10px;
}

#search-bar{
     height: 50px;
    width: 500px; 
    border-radius: 8px;

    font-size: 17px;
    padding: 15px;
    

}


/* loading page */

.loading-conatiner{
    display: none;
}

.loading-conatiner.active{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;  
    padding: 25px;
    margin: 20px;
}


/* //API DATA  */
.city{
    display: flex;
   
    justify-content: center;
    align-items: center; 
}


#city-data{

font-size: 30px;
margin:10px ;
color: white;


}

.wheather-condition{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;   
    color: white;
    font-size: 20px;

}

#temperature{
    margin-bottom: 25px;
}

.card-text{
    font-size:25px ;
    margin: 10px;
}

#message {
    font-size:25px ;
    margin: 10px; 
  
    color: white;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid black; */
}


/* errorpage */
.error-page{
    display: none;
}


.error-page.active{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;   
    color: white;
    font-size: 20px;
}

#error-text{
    /* background-color: black; */
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
}

#error-gif{
    height: 300px;
    width: 400px;
}


@media only screen and (max-width: 768px) {
    .cards {
     grid-template-columns: repeat(1, 1fr);
     grid-template-rows: repeat(3, 1fr);
    }
 
    .pagebutton{
     display: flex;
     
    grid-gap: 100px;
 }
 
 .innerCards{
     height: 180px;
     width: 500px;
 }
 
   }
